<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Touch Coin"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:label="Touch Coin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Touch Coin" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".BalanceActivity" />
        <activity
            android:name=".BalanceActivity2"
            android:label="Balance"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sourcey.materiallogindemo.Main2Activity" />
        </activity>
        <activity
            android:name=".TapActivity"
            android:label="Tap"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sourcey.materiallogindemo.Main2Activity" />
        </activity>
        <activity
            android:name=".TransactionHistoryActivity"
            android:label="Transaction History"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sourcey.materiallogindemo.Main2Activity" />
        </activity>
    </application>

</manifest>